/* Reset default margin and padding for the body */
body {
    margin: 0;
    padding: 0;
    background-color: #2c1f4a;
}

/* Style the header */
.header {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    font-size: 32px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    z-index: 2; /* Place the header on top of the image and overlay */
}

/* Create a container for the background image with a grey overlay */
.image-container {
    position: relative;
    overflow: hidden; /* Hide overflowing card-container */
}

.image-container img {
    width: 100%;
    height: auto;
    position: sticky;
}

/* Grey overlay on top of the image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.5); /* Adjust the last value (0.5) for transparency */
}

/* Create a transparent navigation bar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 1;
}

/* Style the navbar links (aligned to the right) */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    margin-right: 20px;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    color: white;
    list-style: none;
    font-weight: bold;
    padding: 1rem;
    font-size: 20px;
    transition: 0.5s;
}

.navbar a {
    text-decoration: none;
}

.navbar li:hover {
    background-color: white;
    color: black;
}


.card-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);  */
    position: absolute;
    bottom: 18rem;
    left: 0;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.5);  */
}

/* Style the individual cards */
.card {
    flex: 0 0 calc(20% - 20px); /* Adjust width as needed */
    background-color: white;
    padding: 20px;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); /* Black box shadow with 0.5rem offset */
    text-align: center;
    margin-right: 20px;
}

.card h2 {
    font-size: 24px;
}

.card p {
    font-size: 16px;
    color: black; /* Change text color if needed */
}
